<!DOCTYPE html>
<html>
  <head>
    <title>Survey</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <header class="d-flex justify-content-center py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/user_surveys" class="nav-link" aria-current="page">User Surveys</a></li>
      </ul>
  </header>
  <body>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
